#main {
    /* background-color: gainsboro; */
}

h1 {
    padding-top: 10px;
}

.form-group {
    padding-bottom: 10px;
}

.image-wrapper {
    margin-top: 6px;
    /* border: 2px dashed #ccc; */
}

#image-canvas {
    object-fit: contain;
    max-height: 560px;
    width: 100%;
    background-color: lightgray;
}