#main {
    /* background-color: gainsboro; */
}

h1 {
    padding-top: 10px;
}

.form-group {
    padding-bottom: 10px;
}

.image-wrapper {
    margin: 6px 0;
    border: 3px dashed #ccc;
}

#image-canvas {
    object-fit: contain;
    width: 100%;
    background-color: rgba(1, 1, 1, 0.03);
    display: block;
}

#image-loader {
    margin-bottom: 10px;
}

@font-face {
    font-family: 'CutamondBasic';
    src: url('CutamondBasic.ttf');
}

#notice {
    display: block;
    margin: 10px 0;
}